<h1> Here are the Tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.details %></p>
  <p><%= task.completed %></p>

<%= link_to "more detail", task_path(task)%>

<%= link_to "delete", task_path(task), method: :delete,data: { confirm: "Are you sure?" }%>

<%= link_to "modify", edit_task_path(task.id)%>

  <% end  %>


<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>

